<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css" />

    <title>Error page</title>
</head>
<body>
<div class="container fon">

    <h1>Error occured</h1>
    <p>There has been a user error</p>
    <br>
    <p style="color:darkred;">The server cannot or will not process the request due to something that is perceived to be a client
        error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).</p>
    <br>
    <p>The full stack trace of the root cause is available in the server logs.</p>

</div>

</body>
</html>