<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css" />

    <title>Error 400 page</title>
</head>
<body>
<div class="container" style="background-color: yellow">

    <h1>Error occured</h1>
    <p>There has been a user error</p>
    <hr>
    <p style="color:darkred;">The entered URL is incorrect</p>
    

</div>

</body>
</html>